*
!*.*
!*/

*.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*.exe 
*.rds
*.json
*.zip
README.html

*_cache
*_files

output*
Scratch/
parallel_first_order_1cmt_linear/tlag_for_delays/
parallel_first_order_1cmt_linear/fixed_transit_for_delays/
*/Stan/Fits/Output/*.csv
*/*/Stan/Fits/Output/*.csv
.directory